.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.carousel {
    width: 100%;
}

.gridItem {
    display: flex;
    justify-content: center;
}

.collapseBtn {
    padding: 0;
}

.tab {
    color: var(--color-white);
}

.tabs{
    margin-bottom: 28px;
}