html {
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #ffffff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  color: var(--color-white);
}